
/*GLOBAL VARIABLES */
html {
	scroll-behavior: smooth;
  }
body{
	margin:0;
	font-family: Roboto;
}
ul{
	list-style: none;
}
 button{
   	height:50px;
	border-radius: 30px;
    cursor: pointer;
    border: 2px solid #38b1dc;
	width:200px;
  	background-color: transparent;
}
button:hover{
  background-color: #38b1dc;
}
a{
	text-decoration: none;
}
a:hover{
 color: tomato;
}

/*----NAVBAR-----*/
.navbar{
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width:250px;
	height:100vh;
	background-color: #fff;
	margin-left: 0px;
}
.navbar li{
	margin-top: 40px;
	margin-left: none;
	text-transform: uppercase;
}
.navbar li:hover{
	cursor: pointer;
	color: #38b1dc;
}
.navbar img{
	width: 100px;
	height: auto;
	margin-right: 50px;
}

.navbar button{
	position: absolute;
	bottom: 10px;
	margin-bottom: 20px;
}

/*Wrapper*/
.wrapper{
	background-color: #f2e4dc;
	overflow: hidden;
	margin-left: 250px;
	
}
.wrapper h1{
	text-transform: uppercase;
	font-size: 50px;
	font-weight: bold;	
}
/*LANDING*/
 .landing{
	display: flex;
	justify-content:space-around;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 80px;
	margin-bottom: 100px;
}
.landing button{margin-top: 50px;
	margin-bottom: 50px;
}
.left{
	max-width: 600px;
	text-align:center;
	align-items: center;
	margin-bottom: 50px;
}
.right{
	display: flex;
	align-items: center;

}
.right img{
	height: 550px;
	
}

.featcontainer{
	display: flex;
	
}
.features p{
	font-size: 20px;
	margin-top: -40px;
}
.features h3{
	font-size: 40px;
}


/*ABOUT SECTION*/
.about{
	margin-top: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	}
.about img{
	margin-top: 00px;
	min-width: 400px;
	margin-right: 40px;
}
.about .desc{
	width: 400px;
}
.map{
	margin-bottom: 50px;
}
.timeline{
margin-top: 120px;
width:70%;
display: flex;
justify-content: space-between;
border-bottom: 2px solid gray;

}
.date{
	padding-bottom: 20px;
	border-bottom: 20px solid black;
	border-radius: 28%;
}

/*Products*/

.products{
	display: flex;
	flex-direction: column;
margin-top: 80px;
	align-items: center;
	text-align: center;
}
.products h2{
	font-size: 30px;
	margin-top: 00px;
	text-transform: uppercase;
	max-width: 450px;
}
.products img{
	height:500px;
	margin-left: 40px;
	margin-top: 80px;
	margin-right: 40px;
	margin-bottom: 50px;
}
.products button {
	margin-top: 50px;
}
.first{
	display: flex;
	justify-content: space-around;
	align-items: center;

}
.show{
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 400px;
	margin-left: 50px;
	margin-right: 50px;
}

.choose{
	display: flex;
	flex-wrap: wrap;
justify-content: center;
align-items: center;
margin-bottom: 150px;

}
.choose h2{
	font-size: 40px;
	margin-bottom: 30px;
}
.choosedesc{
	width: 450px;
}

.choose img{
	height: 400px;
	margin-right:60px ;

}
.footer{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.footerlink{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 50px;
	font-weight: bold;
}
.footerlink ul{
	margin-left: 200px;
}

.footerlink li{
	margin-top: 20px;
}
.footersocial {
	display: flex;
justify-content: center;
align-items: center;
}
.footersocial img{
	margin-right: 25px;
}
.footerlink li:hover{
	cursor: pointer;
	color: tomato;

}
.copyright{
	display: flex;
	justify-content: center;
	align-items: center;
}

@media only screen and (max-width: 1150px) {
	.navbar{
		transform: translate(-250px);
	}
	.wrapper{
		margin-left: 0px;
	}
  }
  