@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*GLOBAL VARIABLES */
html {
	scroll-behavior: smooth;
  }
body{
	margin:0;
	font-family: 'Roboto', sans-serif;
}
ul{
	list-style: none;
}
 button{
   	height:50px;
	border-radius: 30px;
    cursor: pointer;
    border: 2px solid #EF813E;
	width:200px;
  	background-color: #EF813E;
	  color: white;
}
button:hover{
  background-color: transparent;
}
a{
	text-decoration: none;
	color: black;
}
a:hover{
 color: tomato;
}

/*----NAVBAR-----*/
.navbar{
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	width:250px;
	min-height:100vh;
	background-color: #fff;
	margin-left: 0px;
	transition: 2s;
}
.logo{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 80px;
}
.navbar li{
	margin-top: 40px;
	margin-left: none;
	text-transform: uppercase;
}
.navbar li:hover{
	cursor: pointer;
	color: #38b1dc;
}
.navbar img{
	width: 100px;
	height: auto;
	margin-right: 50px;
}

.navbar button{
	position: absolute;
	bottom: 10px;
	margin-bottom: 20px;
}
.navbar button:hover{
	background-color: #efae3e;
	border-color: #efae3e;
}
/*Wrapper*/
.wrapper{
	overflow: hidden;
	margin-left: 250px;	
}
.desc{
	text-align: left;
	margin-left: 100px;
}
.wrapper h1{
	text-transform: uppercase;
	font-size: 50px;
	font-weight: bold;
	text-align: left;	
	margin-left: 100px;
}
/*LANDING*/
 .landing{
	display: flex;
	justify-content:space-around;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 00px;
	min-height: 100vh;
	background-color: #efae3e;
}
.landing button{
	margin-top: 50px;
	margin-bottom: 50px;
}
.left{
	max-width: 600px;
	text-align:center;
	align-items: center;
	margin-bottom: 50px;
}
.right{
	display: flex;
	align-items: center;
}
.right img{
	height: 550px;
	margin: 0;
	filter: drop-shadow(5px 5px 10px #1a1a1a);
	
}

.featcontainer{
	display: flex;
	
}
.features p{
	font-size: 20px;
	margin-top: -40px;
}
.features h3{
	font-size: 40px;
}
.features{
	margin-left: 50px;
}
.small{
	font-size: 12px;
	margin-top: 40px;
}
/*ABOUT SECTION*/
.about{
	padding-top: 40px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	min-height: 100vh;
	background-color: #EF813E;
	}
.about img{
	margin-top: 00px;
	min-width: 400px;
	margin-right: 40px;
}
.about .desc{
	width: 400px;
}
.about button{
	background-color: #efae3e;
	border-color:#efae3e ;
	margin-top: 30px;
}
.about button:hover{
	background-color: transparent;
}
.map{
	margin-bottom: 20px;
}
.timeline{
margin-top: 50px;
width:70%;
display: flex;
justify-content: space-between;
border-bottom: 2px solid gray;
margin-bottom: 0px;

}
.year{
margin:0px;
width:70%;
display: flex;
justify-content: space-between;
}


/*Products*/

.products{
	display: flex;
	flex-direction: column;
padding-top: 50px;
	align-items: center;
	text-align: center;
	background-color: #efae3e;
}
.products h2{
	font-size: 30px;
	margin-top: 00px;
	text-transform: uppercase;
	max-width: 450px;
}
.products img{
	height:500px;
	margin-left: 40px;
	margin-top: 80px;
	margin-right: 40px;
	margin-bottom: 50px;
	filter: drop-shadow(5px 5px 10px #1a1a1a);
}
.products button {
	margin-top: 50px;
}
.first{
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color:  #efae3e;

}
.show{
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 400px;
	margin-left: 50px;
	margin-right: 50px;
}

.choose{
	display: flex;
	flex-wrap: wrap;
justify-content:center;
align-items: center;
background-color: #EF813E;
min-height: 100vh;
align-content: center;

}
.choose h2{
	font-size: 40px;
	margin-bottom: 30px;
}
.choosedesc{
	width: 450px;
}

.choose img{
	height: 400px;
margin-right: 80px;
filter: drop-shadow(5px 5px 10px #1a1a1a);

}
.groupimg{
	margin-left: 400px;
}
.choose button{
	background-color: #efae3e;
	border-color: #efae3e;
}
.choose button:hover{
	background-color: transparent;
}
.footer{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.footerlink{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 50px;
	font-weight: bold;
}
.footerlink ul{
	margin-left: 200px;
}

.footerlink li{
	margin-top: 20px;
	cursor: pointer;
}
.footerlink li:hover{
	color: #EF813E;
}
.footersocial {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.footersocial li{
	margin: 0;
}
.footersocial li:hover{
	color: black;
}
.footersocial .fab{
	margin-right: 15px;
}
.footersocial .fab:hover{
color:#EF813E;
}

.copyright{
	display: flex;
	justify-content: center;
	align-items: center;
}

@media only screen and (max-width: 1150px) {
	.navbar{
		transform: translate(-250px);
	}
	.wrapper{
		margin-left: 0px;
	}
	.groupimg{
		margin: 0;
	}
	.desc{
		margin-left: 20px;
	}
	.wrapper h1{
		margin-left: 20px;
		margin-top: 100px;
	}
  }
  
.section_header{
	display: flex;
	align-content: center;
	text-align: center;
	justify-content: center;
}
.bar{
position: absolute;
top:30px;
left: 90px;
cursor: pointer;
display: none;
}
 .bar .fa-times{
	cursor: pointer;
	z-index: 2;
}
.fa-times:hover{
	color: red;
}
.fa:hover{
	color: red;
}

@media only screen and (max-width: 1148px) {
.bar{
	display: block;
}
	.fa-times{
		transform: translateX(-250px);
		transition: 1s;
	}
  }